frontend/node_modules
.pnp
frontend/.pnp.js

# testing
frontend//coverage

# production
frontend//build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# Don't add any files containing sensitive information
.config/stitch/stitch
stitch-key.md
secrets.json
