@import "normalize.css";
@import "skeleton.css";
@import "colors";
@import "InventoryNavigation";

body {
  background: $bodybackground;
}

h1 {
  display: inline-block;
  float: left;
  font-size: 4.5rem;
  line-height: 5rem;
  margin-bottom: 1rem;
  font-weight: 300;
  text-transform: uppercase;

  @media screen and (max-width: $break-small) {
    font-size: 3rem;
    line-height: 3rem;
    clear: both;
    margin: 0;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
    padding: 0;
  }
}

h2 {
  display: inline-block;
  clear: both;
  line-height: 5rem;
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding-left: 2rem;
  vertical-align: bottom;

  @media screen and (max-width: $break-small) {
    font-size: 2rem;
    clear: both;
    padding: 0;
    margin: 0 0 1rem;
    line-height: 2.5rem;
  }
}

p.warning {
  color: red;
}

p.monospaced {
  font-family: monospace, monospace;
  font-size: 110%;
}