@import "normalize.css";
@import "skeleton.css";
@import "colors";
@import "InventoryNavigation";

body {
  background: $bodybackground;
}

p.warning {
  color: red;
}

p.monospaced {
  font-family: monospace, monospace;
  font-size: 110%;
}