@import "colors";

.link {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }

  &:active {
    color: inherit;
  }
}

.search-results-list {
  width: 100%;
  list-style: none;
  display: block;
  font-size: 80%;

  li {
    display: inline-block;
    clear: both;
    padding: 2px;
    border: 1px solid $textlight;
    width: 100%;

    .name {
      width: 30%;
      max-width: 30%;
      float: left;
      overflow: hidden;
    }

    .value {
      width: 60%;
      max-width: 65%;
      float: left;
      overflow: hidden;
      padding-left: 1em;
      clear: right;
    }

    .clear {
      width: 0;
      clear: both;
    }

    .highlight {
      font-weight: bold;
      font-family: monospace;
      font-size: 120%;
    }
  }
}